{% include 'header.html' %}

<div class="main-content">
    <!-- Taskbar aligned to the left -->
    <div style="margin-left:5px;">
        {% include 'taskbar.html' with context %}
    </div>

    <!-- Main content stays to the right -->
    <div class="topic-body" style="margin-left: 420px;margin-top:10px; ">
        {% include 'aggregate_functions_vis.html' with context %}

        <div class="quiz-button">
            <a href="{{ url_for('quiz', topic='AGGREGATES') }}" class="btn-quiz">🧠 Take Quiz</a>
        </div>
    </div>
</div>
