{% include 'header.html' %}

<div class="main-content">
    <!-- Taskbar aligned to the left -->
    <div style="float: left; width: 300px; margin-left:15px;">
        {% include 'taskbar.html' with context %}
    </div>

    <!-- Main content stays to the right -->
    <div class="topic-body" style="margin-left: 420px; ">
        {% include 'order by and limit_vis.html' %}

        <div class="quiz-button">
            <a href="{{ url_for('quiz', topic='ORDER BY and LIMIT') }}" class="btn-quiz">🧠 Take Quiz</a>
        </div>
    </div>
</div>
